.bodyClass {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

/*NAVBAR*/
.topnav {
    position: relative;
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #04AA6D;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
        float: none;
        display: block;
  }

  .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
  }
}

/* SINOPSIS INICIO */
.sinopsisInicio {
    background-color: rgb(0, 0, 0);
    display:flex;
}

.btn{
    cursor:pointer;
        position:relative;
        padding:10px 20px;
        background:white;
        font-size:28px;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        transition:all 1s;
        &:after,&:before{
            content:" ";
            width:10px;
            height:10px;
            position:absolute;
            border :0px solid #fff;
            transition:all 1s;
        }
    &:after{
        top:-1px;
        left:-1px;
        border-top:5px solid black;
        border-left:5px solid black;
    }
    &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid black;
        border-right:5px solid black;
    }
    &:hover{
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;
        background:rgba(0,0,0,.5);
        color:white;
        &:before,&:after{
          width:100%;
          height:100%;
          border-color:white;
        }
      }
    }

.sinopsisTexto {
    color: white;
    padding: 60px;
    display: inline-block;
    width: 40%;
    vertical-align: 150px;
    font-size: 25px;
    text-align: justify;
    margin-left: 30px;  
}

/* FOTO DE INICIO */
.grow img{
    transition: 1s ease;
}
    
.grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.posterInicio {
    width: 700px;
    height: 80%;
    padding-top: 90px;
    padding-left: 30px;
}

/* AUTOR */
.infoAutor { 
    background-image: url(../img/banner.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.textoAutor {
    color: white;
    text-align: center;
    vertical-align: center;
    padding:30px;
    font-weight: bolder;
}

/* EPISODIOS */
.episodiosTitulo {
    color: white;
    text-align: center;
    vertical-align: center;
    padding: 30px;
    background-color: black;
}

.boxEpisodios {
    display: grid;
    place-content: center;

}

.listaEpisodios {
    display: grid;
    place-content: center;
    width: 100%;
    height: 600px;
    position: relative;
    transition: 0.5s;
    text-align: center;
}

.listaEpisodios div {
    background-color: rgba(0, 0, 0, 0.589);
    padding: 20px;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
}

.listaEpisodios:hover div {
    opacity: 1;
}

.listaEpisodios img {
    width: 100%;
    height: 100%;
    border: solid 10px;
    border-color: grey;
}

/*GALERÃA*/
.bodyGaleria {
    background-color: black;
    color: white;
}

.tituloGaleria {
    text-align: center;
    vertical-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.carousel-inner,
.carousel-item {
    width: 100%;
    height: 400px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.wrapper {
    --color: #1F242D;
    --color-invert: #ffffff;
    --clip-path: circle(50px at left);
    --clip-path-hover: circle(100px at left);
    --clip-path-clicked: circle(100vw at left);
    --duration: .4s;
    --timing-function: ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .video {
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        clip-path: var(--clip-path);
        transition: clip-path var(--duration) var(--timing-function);
        video {
            position: fixed;
            background: #c4cbde;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%);
      }
    }
.text {
    position: relative; 
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
    opacity: var(--opacity, 1);
    transition: opacity .3s var(--timing-function) .2s;
    &::before,
    &::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: -1px;
        right: 25px;
        height: 0;
    }
    &::before {
        box-shadow: 26px 0 0 1px var(--color);
        right: var(--r, 100%);
        opacity: var(--opacity, 0);
        transition: right .5s ease-in, opacity .1s linear;
    }
    &::after {
        box-shadow: 26px 0 0 1px var(--color-invert);
        clip-path: var(--clip-path);
        transition: clip-path var(--duration) var(--timing-function);
    }
    > span {
        &::before,
        &::after {
          content: attr(data-text);
          padding-left: 26px;
        }
        &::before {
          color: var(--color);
        }
        &::after {
          color: var(--color-invert);
          clip-path: var(--clip-path);
          transition: clip-path var(--duration) var(--timing-function);
          position: absolute;
          left: 0;
        }
      } 
    }

    input {
        width: 220px;
        height: 40px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        border-radius: 40px;
        outline: none; 
        z-index: 2;
        appearance: none;
        cursor: pointer;
        &:focus {
            outline: 0;
    }
    &:hover {
        ~ .video {
          clip-path: var(--clip-path-hover);
        }
        ~ .text {
          &::before {
            --r: 25px;
            --opacity: 1;
    }
    &::after {
            clip-path: var(--clip-path-hover);
    }
    > span {
        &::after {
            clip-path: var(--clip-path-hover);
            }
          }
        }
      }
    &:checked {
        width: 100%;
        height: 100%;
        border-radius: 0;
        ~ .video {
          clip-path: var(--clip-path-clicked);
        }
        ~ .text {
          --opacity: 0;
          transition: opacity .3s var(--timing-function);
          &::after {
            clip-path: var(--clip-path-clicked);
          }
    > span {
        &::after {
              clip-path: var(--clip-path-clicked);
            }
          }
        }
      }
    }
  }

/*CONTACTO*/
.container {
    padding: 20px;
    background-color: black;
    color: white;
}
  
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
  
input[type=checkbox] {
    margin-top: 16px;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}

/*FOOTER*/
footer {
    background-color: black; 
}

.logoFooter {
    width: 20px;
    height: 20px;
    vertical-align: center;
}
